version: "3"

volumes:
  consensource-shared-data:

services:
  cli:
    image: target/consensource-cli:local
    container_name: consensource-cli
    volumes:
      - consensource-shared-data:/shared_data
    entrypoint: |
      bash -c "
        if [ ! -f $HOME/.sawtooth/keys/root.priv ]; then
          sawtooth keygen
        fi;
        mkdir -p /shared_data/keys && \
          csrc genesis -o /shared_data/consensource-genesis.batch -K /shared_data/keys \
              -g /cli/example-genesis.yaml;
        tail -f /dev/null
        while [ ! -f $HOME/no_dir ]; do echo ""; done
      "

  ## Because the published UI image is built with non-local config,
  ## we default to using the local UI image which has the config 
  ## for our local services.
  ui:
    image: target/consensource-ui:local
    container_name: consensource-ui
    build:
      context: ui
    volumes:
      - ./ui/public/:/usr/local/apache2/htdocs/
    expose:
      - 80
    ports:
      - "8080:80"

  consensus-engine:
    image: hyperledger/sawtooth-devmode-engine-rust:chime
    container_name: consensource-consensus-engine
    expose:
      - 5050
    ports:
      - "5050:5050"
    command: |
      bash -c "
        devmode-engine-rust -C tcp://validator:5050
      "

  validator:
    image: hyperledger/sawtooth-validator:chime
    container_name: consensource-validator
    expose:
      - 4004
      - 8800
    ports:
      - "4004:4004"
      - "8800:8800"
    volumes:
      - consensource-shared-data:/shared_data
    entrypoint: |
      bash -c "
        sawadm keygen && \
          sawtooth keygen my_key && \
          sawset genesis -k /root/.sawtooth/keys/my_key.priv && \
          sawset proposal create \
          -k /root/.sawtooth/keys/my_key.priv \
          sawtooth.consensus.algorithm.name=Devmode \
          sawtooth.consensus.algorithm.version=0.1 \
          -o config.batch \
          && sawadm genesis config-genesis.batch config.batch && \
        sawtooth-validator -v \
          --endpoint tcp://eth0:8800 \
          --bind component:tcp://eth0:4004 \
          --bind network:tcp://eth0:8800 \
          --bind consensus:tcp://eth0:5050 \
      "

  sawtooth-rest-api:
    image: hyperledger/sawtooth-rest-api:chime
    container_name: sawtooth-rest-api
    ports:
      - "8008:8008"
    depends_on:
      - validator
    entrypoint: sawtooth-rest-api -v -C tcp://validator:4004 --bind sawtooth-rest-api:8008

  api:
    image: target/consensource-api:local
    container_name: consensource-api
    ports:
      - "9009:9009"
      - "9010:9010"
    environment:
      ROCKET_ADDRESS: "0.0.0.0"
      ROCKET_PORT: "9009"
      # OAUTH_VALIDATION_URL: ""
    command: |
      bash -c "
        consensource-rest-api -v --dbhost postgres -C tcp://validator:4004
      "

  settings-tp:
    image: hyperledger/sawtooth-settings-tp:chime
    container_name: sawtooth-settings-tp
    depends_on:
      - validator
    entrypoint: settings-tp -v -C tcp://validator:4004

  processor:
    image: target/consensource-processor:local
    container_name: consensource-processor
    command: |
      bash -c "
        consensource-processor -v -C tcp://validator:4004
      "
      
  postgres:
    image: postgres:alpine
    container_name: consensource-db
    volumes:
        - ./database/tables:/docker-entrypoint-initdb.d
    restart: always
    environment:
        POSTGRES_USER: cert-registry
        POSTGRES_PASSWORD: cert-registry
        POSTGRES_DB: cert-registry
    ports:
        - "5432:5432"
    expose:
        - 5432

  adminer:
    image: adminer
    container_name: consensource-adminer
    restart: always
    ports:
      - "8081:8080"

  sds:
    image: target/consensource-sds:local
    container_name: consensource-sds
    command: |
      bash -c "
        consensource-sds --dbhost postgres -v -C tcp://validator:4004
      "
